@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-ThinItalic.ttf) format("truetype");
  font-weight: lighter;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 0.8rem 0 0 0;
}

ul {
  display: flex;
  font-weight: lighter;
  font-size: 18px;
  color: #e5e7eb;
}

li {
  padding: 0 0.6rem;
  font-size: 18px;
  color: #e5e7eb;
  list-style: none;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

footer {
  margin: 3rem 0 0 0;
  padding: 2rem;
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
}

.container1 {
  background-color: #1f2937;
  color: #f9faf8;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.hero-text {
  width: 35%;
  padding: 2rem;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 700;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-image {
  width: 40%;
  background-color: #6d747d;
  text-align: center;
}

.button {
  margin: 1rem 0;
  padding: 0.3rem 1.5rem;
  background-color: #3882f6;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
}

.container2 {
  margin: 3rem 0 0 0;
}

.container2 > h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  text-align: center;
}

.info-div {
  display: flex;
  justify-content: center;
}

.info-image {
  width: 150px;
  height: 150px;
  border: 3.5px solid #3882f6;
  border-radius: 15px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 150px;
  margin: 3.2rem 1.5rem;
}

.info-card figcaption {
  margin: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  background-color: #e5e7eb;
}

.quote-div {
  width: 61%;
  padding: 5rem 0;
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote-div figcaption {
  padding: 0 2rem 0 0;
  font-size: initial;
  font-weight: bold;
  font-style: normal;
  text-align: right;
}

.container4 {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 6rem auto;
  padding: 3rem 3rem;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
}

.call-to-action-button {
  margin: 0.7rem 0;
  padding: 0.3rem 1.5rem;
  background-color: #3882f6;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 6px;
}
