@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Thin.ttf) format("truetype");
    font-weight: lighter;
  }

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-ThinItalic.ttf) format("truetype");
  font-weight: lighter;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

ul {
    display: flex;
    font-weight: lighter;
}

li {
    padding: 0 0.6rem;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.container1 {
  background-color: #1f2937;
  color: #f9faf8;
}

.logo {
    font-weight: bold;
  font-size: 24px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.hero-text {
    width: 30%;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 700;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 200px;
    background-color: #6d747d;
    text-align: center;
   
}

.button {
    padding: 0.3rem 1.3rem;
    background-color: #3882f6;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;

}


